bw/blask-bw/src/main/tibco/blask-bw/Blask/Util/HashMap/MapEntry.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/blask-bw/Blask/Util/HashMap/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/blask-bw/Blask/Util/HashMap/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="entry">
		<xs:complexType/>
	</xs:element>
	<xs:element name="key">
		<xs:complexType/>
	</xs:element>
	<xs:element name="value" type="xs:string"/>
</xs:schema>